---
layout: default 
description: "Well, this won't be easy" 
---
<div class="container">
    <div class="row">
        <div class="col-md-4" style="border-right:2px">
            <h2 class="page-header">For Fun</h2>
            I wanted to start writing some notes about golf, how I'm playing where I'm improving and what I find helps me.
            <br/> Finding a way to focus on improving, but keeping golf fun and enjoying myself should hopefully work in the long
            term.

        </div>
        <div class="col-md-4">
            <h2 class="page-header">Latest Posts</h2>
            {% for post in paginator.posts %} {% if post.categories contains 'round' %} {% else %}
            <div class="post-preview">
                <a href="{{ post.url | prepend: site.baseurl }}">
                    <h4 class="post-title"> {{ post.title }}
                    </h4>
                    {% if post.subtitle %}
                    <h5 class="post-subtitle">
                        {{ post.subtitle }}
                    </h5>
                    {% endif %}
                </a>
                <p class="post-meta">Posted by {% if post.author %}{{ post.author }}{% else %}{{ site.title }}{% endif %} on {{ post.date | date:
                    "%B %-d, %Y" }}</p>
            </div>
            {% endif %} {% endfor %}

        </div>
        <div class="col-md-4">
            <h2 class="page-header">Latest Rounds</h2>
            {% for post in paginator.posts %} {% if post.categories contains 'round' %}
            <div class="post-preview">
                <a href="{{ post.url | prepend: site.baseurl }}">
                    <h4 class="post-title"> {{ post.title }}
                    </h4>
                    {% if post.subtitle %}
                    <h5 class="post-subtitle">
                        {{ post.subtitle }}
                    </h5>
                    {% endif %}
                </a>
                <p class="post-meta">Posted by {% if post.author %}{{ post.author }}{% else %}{{ site.title }}{% endif %} on {{ post.date | date:
                    "%B %-d, %Y" }}</p>
            </div>
            {% endif %} {% endfor %}
        </div>
    </div>
</div>