---
layout: default 
---

<!-- Post Content -->
<article>
    <div class="container">
        <div class="row">
            <div class="col-lg-10 col-lg-offset-1 col-md-10 col-md-offset-1">
                <div class="col-lg-6">
                    {{ content }}
                </div>
                <div class="col-lg-6">
                    <h3 class="text-right">Round Summary</h3>
                    <div class="table table-bordered table-hover">
                        <table>
                            <thead>
                                <th>Date</th>
                                <td>{{page.date | date: "%a, %b %d, %Y" }}</td>
                            </thead>
                            <tr>
                                <th>Course</th>
                                <td>{{page.course}}</td>
                            </tr>
                            <tr>
                                <th>Gross Score</th>
                                <td>{{page.gross}}</td>
                            </tr>
                            <tr>
                                <th>Nett Score</th>
                                <td>{{page.nett}}</td>
                            </tr>
                        </table>
                    </div>
                    <div class="alert alert-success">
                        <h4>The Good</h4>
                        <li>{{page.note1}}</li>
                        <li>{{page.note2}}</li>
                    </div>
                    <div class="alert alert-danger">
                        <h4>The Bad</h4>
                        <li>{{page.note3}}</li>
                    </div>
                    <div class="alert alert-info text-center">
                        <a class="text-center" href="https://www.gamegolf.com/player/chrisms/round/{{page.gglink}}" target="new">Game Golf Overview</a>
                    </div>
                </div>
            </div>
            <hr>
        </div>
        <hr>
        <div class="row">
            <div class="col-lg-10 col-lg-offset-1 col-md-10 col-md-offset-1">
                <ul class="pager">
                    {% if page.previous.url %}
                    <li class="previous">
                        <a href="{{ page.previous.url | prepend: site.baseurl | replace: '//', '/' }}" data-toggle="tooltip" data-placement="top"
                            title="{{page.previous.title}}">&larr; Previous Post</a>
                    </li>
                    {% endif %} {% if page.next.url %}
                    <li class="next">
                        <a href="{{ page.next.url | prepend: site.baseurl | replace: '//', '/' }}" data-toggle="tooltip" data-placement="top" title="{{page.next.title}}">Next Post &rarr;</a>
                    </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </div>
</article>
